global:
  scrape_interval: {{ SCRAPE_INTERVAL }}
scrape_configs:
  # Self monitoring job
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:{{ PROM_PORT }}']
  # Jobs for consul targets
  - job_name: {{ CONSUL_JOB_NAME }}
    consul_sd_configs:
      - server: 'localhost:{{ CONSUL_PORT }}'
        services: ['{{ CONSUL_SERVICE_TAG }}']
    relabel_configs:
      - source_labels: [__meta_consul_service]
        regex: '(.*){{ CONSUL_DROP_TAG }}(.*)'
        action: drop
      # Here you can add some relabel for tags like "key=value", one rule for each tag changing tag number in regexp
      # "{0}..{1}"
      - source_labels: [__meta_consul_tags]
        regex: ',(?:[^,]+,){0}([^=]+)=([^,]+),.*'
        replacement: '${2}'
        target_label: '${1}'
      - source_labels: [__meta_consul_tags]
        regex: ',(?:[^,]+,){1}([^=]+)=([^,]+),.*'
        replacement: '${2}'
        target_label: '${1}'
      - source_labels: [__meta_consul_tags]
        regex: ',(?:[^,]+,){2}([^=]+)=([^,]+),.*'
        replacement: '${2}'
        target_label: '${1}'
  # Here you can add some static jobs
  - job_name: {{ STATIC_JOB_NAME }}
    static_configs:
      - targets: ['{{ STATIC_JOB_TARGET }}:{{ STATIC_JOB_PORT }}','{{ STATIC_JOB_TARGET }}:{{ STATIC_JOB_PORT }}']
